/* header */
/* responsive */
#menu-bar {
    color: var(--text-color1);
    border: .1rem solid #fff;
    border-radius: 1rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
    padding: .5rem 1rem;
}

/* end responsive */


header  {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #171614;
    z-index: 10;
    padding: 2rem 9%;
}

.grid {
    width: 120rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

header .logo img {
    width: 120px;
    height: 60px;
    text-decoration: none;
    object-fit: cover;
}

header .navbar a {
    color: var(--text-color1);
    font-size: 2rem;
    margin: 0 1rem;
}

header .navbar a:hover {
    color: var(--primary-color);
}

header .icons i {
    font-size: 3rem;
    color: var(--text-color1);
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover {
    color: var(--primary-color);
}

header .search-bar-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background-color: #171614;
    border-top: .1rem solid var(--text-color1);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .search-bar-container.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* search-bar display*/

.header .search-bar-container #search-bar {
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: var(--primary-color);
    font-size: 1.7rem;
    border-radius: .5rem;
}

header .search-bar-container label {
    color: var(--text-color1);
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover {
    color: var(--primary-color);
}

.login-form-container {
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 1000;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active {
    top: 0;
}

/* form-container display */

.login-form-container form {
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background-color: var(--text-color1);
    width: 50rem;
}

.login-form-container form h3 {
    font-size: 3rem;
    color: var(--text-color2);
    text-transform: uppercase;
    text-align: center;
    padding: 1rem o;
}

.login-form-container p {
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--text-color2);
    text-shadow: rgb(214, 211, 211);
}

.login-form-container form .box {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--text-color2);
    margin: .6rem 0;
    border: .01rem solid rgba(0, 0, 0, .3);
    text-transform: none;
    border-radius: .5rem;
}

.login-form-container form .box:focus {
    border-color: var(--primary-color);
    ;
}

.login-form-container form #remember {
    margin: 2rem 0;
}

.login-form-container form label {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.login-form-container form .btn {
    display: block;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
}

.login-form-container form p {
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}

.login-form-container form p a {
    color: var(--primary-color);
}

.login-form-container form p a:hover {
    color: #333;
    text-decoration: underline;
}

.login-form-container #form-close {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: var(--text-color1);
    cursor: pointer;
}

/* home screen */

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content {
    text-align: center;
}

.home .content h3 {
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}

.home .content p {
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.home .video-container img,
.home .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .video-container img {
    object-fit: cover;
    object-position: cover;
}

.home .controls {
    margin-top: 28rem;
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0, 0, 0, .7);
    position: relative;
    top: 10rem;
}

.home .controls .vid-btn {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: var(--text-color1);
    cursor: pointer;
    margin: 0 .5rem;
}

.home .controls .vid-btn.active {
    background: var(--primary-color);
}

/* end home */

/* gallery */

.gallery .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .box-container .box {
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(122, 119, 119, 0.3);
    border: 1rem solid var(--body-color);
    border-radius: 1rem;
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
}

.gallery .box-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(75, 64, 64, 0.7);
    padding: 2;
    padding-top: 5rem;
}

.gallery .box-container .box:hover .content {
    top: 0;
}

.gallery .box-container .box:hover h3 {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.gallery .box-container .box:hover p {
    font-size: 1.5rem;
    color: var(--text-color1);
    padding: .5rem 0;
    text-transform: none;
}

/* end gellary */

/* packages */
.cuisine .box-container,
.packages .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.cuisine .box-container .box,
.packages .box-container .box {
    flex: 1 1 30rem;
    border-radius: 1rem;
    border: 1px solid var(--text-color1);
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(122, 119, 119, 0.3);
    cursor: pointer;
}

.cuisine .box-container .box img,
.packages .box-container .box img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.cuisine .box-container .box .content,
.packages .box-container .box .content {
    padding: 2rem;
}

.cuisine .box-container .box .content h3,
.packages .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--text-color2);
}

.cuisine .box-container .box .content h3 i,
.packages .box-container .box .content h3 i {
    color: var(--primary-color);
    padding-right: 1rem;
}

.cuisine .box-container .box .content p,
.packages .box-container .box .content p {
    font-size: 1.4rem;
    color: var(--text-color2);
    padding: 1rem 0;
    text-transform: none;
}

.packages .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--primary-color);
    padding: 1rem;
}

/* end packages */

/* festival */
.festival .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.festival .box-container .box {
    flex: 1 1 30rem;
    border: 1px solid var(--text-color1);
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(122, 119, 119, 0.3);
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.festival .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    justify-content: space-between;
}

.festival .box-container .box .content {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(58, 45, 45, 0.7);
    padding: 2;
    padding-top: 5rem;
}

.festival .box-container .box:hover {
    margin-top: -.5rem;
    margin-left: -.1rem;
}

.festival .box-container .box:hover .content {
    top: 0;
}

.festival .box-container .box:hover .content h3 {
    padding-top: 10rem;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.festival .box-container .box:hover .content p {
    font-size: 1.5rem;
    color: var(--text-color1);
}

/* end festival */

/* cuisine */

.cuisine .box-container .box .content h5 {
    font-size: 1.5rem;
    color: var(--text-color2);
}

.cuisine .box-container .box .content h5 i {
    color: var(--primary-color);
    padding-right: 1rem;
}



/* end cuisine */
/* tour */
.tour h1 {
    background-image: linear-gradient(to top right, rgba(183, 183, 235, 0.2), rgba(196, 177, 177, 0));
}

.tour .heading a {
    display: block;
    font-size: 2.5rem;
    text-decoration: none;
    color: rgb(136, 123, 123);
    text-transform: none;
    padding-top: 1rem;
}

.tour .heading a:hover {
    color: var(--primary-color);
}

/* end tour */

/* services */
.services .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services .box-container .box {
    flex: 1 1 30rem;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.services .box-container .box i {
    padding: 1rem;
    font-size: 5rem;
    color: var(--primary-color);
}

.services .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--text-color2);
}

.services .box-container .box p a {
    font-size: 1.5rem;
    color: var(--text-color2);
    padding: 1rem 0;
    text-transform: none;
}

.services .box-container .box:hover {
    box-shadow: 0 1rem 2rem rgba(122, 119, 119, 0.3);
    background-color: rgba(252, 250, 250, 0.5);
}

/* end services */

/* review */
.review .review-slider {
    padding-bottom: 2rem;
}

.review .box {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(122, 119, 119, 0.3);
    border-radius: 1rem;
    cursor: pointer;
}

.review .box img {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.review .box h3 {
    font-size: 2.5rem;
    color: var(--text-color2);
}

.review .box p {
    font-size: 1.5rem;
    color: var(--text-color2);
    text-transform: none;
    padding: 1rem 0;
}

.review .box .stars i {
    font-size: 2rem;
    color: var(--primary-color);
}

/* end review */

/* contact */
.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.contact .row .image {
    flex: 1 1 30rem;
}

.contact .row .image img {
    width: 100%;
}

.contact .row form {
    flex: 1 1 50rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(122, 119, 119, 0.3);
}

.contact .row form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form .inputBox input,
.contact .row form textarea {
    width: 49%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.5rem;
    text-transform: none;
    background-color: rgba(148, 136, 136, 0.1);
    color: var(--text-color2);
    border-radius: 1rem;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
    width: 100%;
}


/* end contact */

/* brand */
.brand-container {
    align-items: center;
}

.brand-container .brand-slider>div>div>img {
    width: 10rem;
    height: 10rem;
    border-radius: 40%;
}

/* end brand */

/* footer */

.footer {
    background-color: #35322d;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
    justify-content: space-between;
}

.footer .box-container .box {
    flex: 1 1 30rem;
    padding: 1rem 0;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--text-color1);
    padding: .7rem 0;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: var(--text-color1);
    padding: .7rem 0;
    text-transform: none;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: .7rem 0;
    color: var(--text-color1);
}

.footer .box-container .box a i {
    padding-right: 1rem;

}

.footer .box-container .box a:hover {
    color: var(--primary-color);
}

.footer .credit {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color: var(--text-color1);
    border-top: 0 1rem 2rem rgba(122, 119, 119, 0.3);

}

.footer .credit span {
    color: var(--primary-color);
}

/* end footer */