/* media queries  */

@media (max-width:1200px) {

  html {
    font-size: 55%;
  }

  .header .search-bar-container #search-bar,
  .grid {
    max-width: 105rem;
  }

  .header .search-bar-container #search-bar {
    width: 95%;
  }

}

@media(max-width:1100px) {
  .header .search-bar-container #search-bar,
  .grid {
    max-width: 95rem;
  }

  .header .search-bar-container #search-bar {
    width: 90%;
  }

  .header .search-bar-container.active {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}

@media(max-width:1000px) {
  .header .search-bar-container #search-bar,
  .grid {
    max-width: 90rem;
  }
  

  .header .search-bar-container #search-bar {
    width: 85%;
  }

  .header .search-bar-container.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media (max-width:991px) {

  .header .search-bar-container #search-bar,
  .grid {
    max-width: 85rem;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  .header .search-bar-container #search-bar {
    width: 80%;
  }

}

@media(max-width:900px) {

  .header .search-bar-container #search-bar,
  .grid {
    max-width: 80rem;
  }

  .header .search-bar-container #search-bar {
    width: 75%;
  }
}

@media (max-width: 862px) {
  .footer .box-container {
    display: block;
  }

  .header .search-bar-container #search-bar {
    width: 70%;
  }
}

@media(max-width:800px) {
  .grid {
    max-width: 70rem;
  }

  .header .search-bar-container #search-bar {
    width: 70%;
  }
}

@media (max-width:768px) {

  #menu-bar {
    display: block;
  }

  .header .search-bar-container #search-bar,
  .grid {
    max-width: 64rem;
  }

  .header .search-bar-container #search-bar {
    width: 70%;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #333;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    border-radius: .5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }

  .footer .box-container {
    display: block;
  }

}

@media (max-width:450px) {

  html {
    font-size: 50%;
  }

  .header .search-bar-container #search-bar,
  .grid {
    max-width: 40rem;
  }

  header {
    max-width: 100%;
    float: left;
  }


  .contact .row form .inputBox input {
    width: 100%;
  }

  .header .search-bar-container.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

}

@media(max-width:400px) {

  .header .search-bar-container #search-bar,
  .grid {
    max-width: 39rem;
  }

  .header .search-bar-container.active {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}